@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  background-color: rgba(31, 31, 31, 0.9);
  border-radius: 0 0 5px 5px;
  min-width: 300px;
  -webkit-animation-name: topen;
          animation-name: topen;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  position: relative;
}
@-webkit-keyframes topen {
  0% {
    top: -110px;
  }
  100% {
    top: 0;
  }
}
@keyframes topen {
  0% {
    top: -110px;
  }
  100% {
    top: 0;
  }
}
.header__row {
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header__row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.header__element {
  font-size: 20px;
  font-weight: 100;
}
.header__element a:link {
  color: #f4ede7;
}
.header__element a:visited {
  color: #f4ede7;
}
.header__element a:hover {
  color: #747474;
  transition-duration: 0.3s;
}
.header__element_1 {
  padding: 5px 0 10px;
}
@media (min-width: 768px) {
  .header__element_1 {
    order: 1;
    padding: 10px 20px 0 0;
    font-size: 20px;
    text-align: right;
  }
}
.header__element_2 {
  font-size: 30px;
}
@media (min-width: 768px) {
  .header__element_2 {
    order: 3;
    flex: 0 1 100%;
    padding: 0 0 50px 0;
    font-size: 65px;
  }
}
.header__element_2 h1 {
  font-weight: 300;
  color: #f4ede7;
}
.header__element_3 {
  padding: 10px 0 10px;
}
@media (min-width: 768px) {
  .header__element_3 {
    order: 2;
    align-content: flex-end;
    padding: 10px 20px 0 0;
    font-size: 20px;
    text-align: right;
  }
}

.footer {
  border-radius: 5px 5px 0 0;
  background-color: rgba(31, 31, 31, 0.9);
  min-width: 340px;
  flex: 0 0 auto;
}
.footer__row {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer__row {
    flex-direction: row;
  }
}
.footer__element {
  font-size: 20px;
  font-weight: 100;
}
.footer__element a:link {
  color: #f4ede7;
}
.footer__element a:visited {
  color: #f4ede7;
}
.footer__element a:hover {
  color: #747474;
  transition-duration: 0.3s;
}
.footer__element_1 {
  padding: 10px 0;
}
@media (min-width: 768px) {
  .footer__element_1 {
    padding: 20px 20px 0;
    font-size: 25px;
    text-align: left;
    flex: 0 1 100%;
  }
}
.footer__element_2 {
  padding: 0 0 10px 0;
}
@media (min-width: 768px) {
  .footer__element_2 {
    padding: 20px 20px 0;
    font-size: 25px;
    text-align: left;
    flex: 0 1 40%;
  }
}
.footer__element_3 {
  color: #f4ede7;
  font-size: 15px;
  line-height: 25px;
}
@media (min-width: 768px) {
  .footer__element_3 {
    text-align: right;
    padding: 0 20px 10px 0;
    flex: 0 1 60%;
    display: grid;
    align-items: end;
    font-size: 20px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/fone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.menu {
  flex: 1 1 auto;
}
.menu__conteiner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .menu__conteiner {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 50%;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
.menu__img {
  border: 1px solid rgba(30, 30, 28, 0.3);
  margin: 20px auto;
  width: 204px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: rgba(30, 30, 28, 0.5);
}
@media (min-width: 610px) {
  .menu__img {
    width: 400px;
    height: 294px;
    margin: 40px auto;
  }
}
@media (min-width: 680px) {
  .menu__img {
    width: 400px;
    height: 294px;
  }
}
@media (min-width: 768px) {
  .menu__img {
    width: 600px;
    height: 380px;
    margin: 40px auto;
  }
}
.menu p {
  color: #f4ede7;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(30, 30, 28, 0.6);
  height: auto;
  display: block;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
}
@media (min-width: 768px) {
  .menu p {
    font-size: 25px;
  }
}
.menu img {
  height: 100%;
  width: 100%;
}

.buttom {
  text-align: center;
}

.button {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
}
.button__row {
  display: flex;
  justify-content: center;
}
.button-1 {
  height: 50px;
  width: 180px;
  background-color: rgba(30, 30, 28, 0.6);
  font-size: 25px;
  display: flex;
  margin: 0 auto 15px auto;
  text-align: center;
  color: #f4ede7;
  border-radius: 7px;
  justify-content: center;
  flex-direction: column;
  font-weight: 300;
  letter-spacing: 0.01em;
  transition-duration: 0.6s;
}
@media (min-width: 540px) {
  .button-1 {
    width: 200px;
    height: 50px;
    font-size: 30px;
  }
}
@media (min-width: 600px) {
  .button-1 {
    width: 260px;
    height: 60px;
    font-size: 35px;
  }
}
@media (min-width: 768px) {
  .button-1 {
    margin: 0 auto 25px auto;
    width: 350px;
    height: 70px;
    font-size: 40px;
  }
}
.button-1:hover {
  background-color: rgba(31, 31, 31, 0.9);
  transition-duration: 0.3s;
}